DATABASE_URL="mysql://<user>:<password>@<ip>:<port>/<database"
API_LISTEN_PORT=<INT>
WPP_EVENT_ENDPOINTS=<STRING:COMMA_SEPARATED>
CLIENT_ID=<INT>
CLIENT_INSTANCE=<STRING>
CLIENT_SESSION_ID=<STRING>
FILES_API_URL=<STRING>
REDIS_URL=<STRING>
